<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item">
      <app-price-card></app-price-card>
    </div>
    <div class="carousel-item active">
      <app-price-card></app-price-card>
    </div>
  </div>
  <a class="carousel-control-prev " href="#carouselExampleControls" role="button" data-slide="prev">
    <img width="25" height="25" src="assets/left.png">
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <img width="25" height="25" src="assets/right.png">
  </a>
</div>