<div class="container">
    <div id="carousal2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row d-flex justify-content-between align-items-center  p-3 ">
                    <div class="col-lg-6 col-md-6 text-lg-start text-md-start text-sm-center">
                        <h1>Highly impressed with the Service</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur soluta distinctio ab deleniti illo fugiat quo eos quidem quod. Quisquam labore fugiat necessitatibus sit ex rem! Exercitationem molestiae aliquam ducimus?</p>
                    </div>
                    <div class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center ">
                        <img class="img-thumbnail " src="https://businesslogodesign.us/assets/images/logo/12.webp">
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row d-flex justify-content-between align-items-center  p-3 ">
                    <div class="col-lg-6 col-md-6 text-lg-start text-md-start text-sm-center">
                        <h1>Top Notch Service Quality</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur soluta distinctio ab deleniti illo fugiat quo eos quidem quod. Quisquam labore fugiat necessitatibus sit ex rem! Exercitationem molestiae aliquam ducimus?</p>
                    </div>
                    <div class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center ">
                        <img class="img-thumbnail " src="https://businesslogodesign.us/assets/images/logo/41.webp">
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="row d-flex justify-content-between align-items-center  p-3 ">
                    <div class="col-lg-6 col-md-6 text-lg-start text-md-start text-sm-center">
                        <h1>Amazing Team Work</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur soluta distinctio ab deleniti illo fugiat quo eos quidem quod. Quisquam labore fugiat necessitatibus sit ex rem! Exercitationem molestiae aliquam ducimus?</p>
                    </div>
                    <div class="col-lg-4 col-md-4 d-flex justify-content-center align-items-center ">
                        <img class="img-thumbnail " src="https://businesslogodesign.us/assets/images/logo/36.webp">
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev d-flex justify-content-start " href="#carousal2" role="button" data-slide="prev">
            <img width="25" height="25" src="assets/left.png">
        </a>
        <a class="carousel-control-next  d-flex justify-content-end" href="#carousal2" role="button" data-slide="next">
            <img  width="25" height="25" src="assets/right.png">
        </a>
    </div>
</div>