<section>
    <div class="img-container pb-4 ">
        <app-navbar></app-navbar>
        <div class="d-flex align-items-center justify-content-center flex-column text-white  text-center container"
            style="min-height: 50vh;">
            <h1 class="display-3 fw-bold">Our Services</h1>
            <p>To establish and cement your online existence, you need kick-ass digital properties that will keep you
                within the customer’s mind at all times. Nothing is impossible for us, no matter what requirements you
                have, our team of creative thinkers and experts will help you fulfill your end goal.</p>
        </div>
    </div>
    <div class="d-flex justify-content-center py-5">
        <div class="row d-flex justify-content-evenly  p-3  container ">
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">Logo Design</h1>
                <h6 style="color: #694ea8;">A Perfect Representative of your Brand</h6>
                <p class="text-secondary ">Gone are the days when products were identified with their names rather than
                    logos, confining themselves to conventional media types. Your custom logo design represents your
                    ideology and belief particularly in USA. Now with the information technology era, your logo
                    comprises of your entire philosophy, representing you at the forefront.
                    One of the top logo design companies in the USA, Business Logo Design, are dedicated and commitment
                    to providing logos that are the personification of your brand’s core values. Our holistic approach
                    helps you to create your brand personality.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg1.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5" style="background-color: #eeeeee;">
        <div class="row d-flex justify-content-evenly  p-3 container ">
            <div class="col-lg-5 col-md-6 d-flex justify-content-center align-items-center mt-4 d-none d-lg-block ">
                <img class="img-fluid" src="https://businesslogodesign.us/assets/images/serviceimg2.webp">
            </div>
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">Brand Development</h1>
                <h6 style="color: #694ea8;">Premium branding solutions tailor-made for your requirements.</h6>
                <p class="text-secondary ">Your brand is your identity that makes you stand out from your competition.
                    Our brand analysts define, revitalize, strategize and execute your strategy to perfection that
                    leaves a mark on customers. Our team provides a wide range of branding solutions that enhances your
                    brand reputation and builds a strong brand identity based upon your values, philosophy and core
                    concepts defining who you are and what you do for the customers.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4 d-lg-none">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg2.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5">
        <div class="row d-flex justify-content-evenly p-3 container ">
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">Web Design Solution</h1>
                <h6 style="color: #694ea8;">A picture-perfect design enabling enhance customer experience through
                    state-of-the-art Developing Techniques</h6>
                <p class="text-secondary ">Over the years, we have helped companies promote themselves as a brand just
                    through their trailblazing web designs and development which makes them stand out among the crowd.
                    Our team of creative experts have the experience and knowledge in delivering to you the best website
                    designs out there. Having hands-on experience of custom WordPress, PHP and Magneto, our team of web
                    designers and developers are well-equipped and highly skilled to provide you complete and
                    comprehensive web design solution that is no less than a masterpiece. Try us out to get your piece
                    of art with above expectation results.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg4.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5" style="background-color: #eeeeee;">
        <div class="row d-flex justify-content-evenly  p-3 container ">
            <div class="col-lg-5 col-md-6 d-flex justify-content-center align-items-center mt-4 d-none d-lg-block ">
                <img class="img-fluid" src="https://businesslogodesign.us/assets/images/serviceimg5.webp">
            </div>
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">App Design & Development</h1>
                <h6 style="color: #694ea8;">Top-Tier Mobile and Web Application Solutions</h6>
                <p class="text-secondary ">Your customers have very limited time and you need to grab their attention in
                    that fraction of a time. So what best way than to capture their focus through a highly engaging and
                    interactive mobile or web application. Mobile apps are primarily only made for smartphones yet web
                    apps are compatible for web browsers and can be accessed through any device.
                    Business Logo Design has got all the necessary tools and techniques require to deliver your desired
                    application in no-time. We don’t just focus on mobile app development, we make sure that they are
                    the point of communication between you and your customers. Our expertise, skills and experience are
                    what defines us. With our services, you can be sure of staying one step ahead of your rivals. We get
                    to work and don’t stop until your objectives are met.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4 d-lg-none">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg5.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5">
        <div class="row d-flex justify-content-evenly p-3 container ">
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">2D & 3D illustration</h1>
                <h6 style="color: #694ea8;">Visually appeal to your customers using our illustration services</h6>
                <p class="text-secondary ">What words do not communicate, pictures do. Pictures are a great source of
                    communicating message to customers because sometimes, the customers are not able to read page-long
                    text but can stop scrolling if they see an interesting piece of visual art. From cartoon animations
                    to industrial illustration, our team specializes in both 2D and 3D illustration tools and techniques
                    to deliver eye-catching imagery that forces your customer to divert their attention to your brand
                    and come to you. We deliver all the needs that help you climb the success ladder in your industry.
                </p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg6.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5" style="background-color: #eeeeee;">
        <div class="row d-flex justify-content-evenly  p-3 container ">
            <div class="col-lg-5 col-md-6 d-flex justify-content-center align-items-center mt-4 d-none d-lg-block ">
                <img class="img-fluid" src="https://businesslogodesign.us/assets/images/serviceimg7.webp">
            </div>
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">Motion Graphics</h1>
                <h6 style="color: #694ea8;">Animated explainer videos that communicate your brand message effectively
                </h6>
                <p class="text-secondary ">Engaging animated videos help you communicate your message more effectively
                    and clearly to your target audience. Storytelling is an effective way that helps your customers
                    understand your message and getting to know about your brand, or the products and services you
                    offer. Even if the message is complex, it is clearly transmitted through a combination of visuals
                    and text, as subtitles or voice-overs, which attracts a large number of audiences. Generally, when
                    starting out a brand, an animated explainer video helps you introduce yourself into the market and
                    make it to the top of mountain.
                    Not sure where to get started? Our team is here to guide you. Our team of skilled illustration
                    artists and video animators help you develop 2D, 3D, whiteboard, motion graphics, and stock
                    animations that represent your brand in the finest possible manner.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4 d-lg-none">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg7.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5">
        <div class="row d-flex justify-content-evenly p-3 container ">
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">Creative Copywriting</h1>
                <h6 style="color: #694ea8;">An Interactive Copy that sells you directly to customer’s minds.</h6>
                <p class="text-secondary ">A brand without a message is simply a product. Attaching a message to brand
                    makes it much more valuable and meaningful that helps in customers remembering the brand
                    immediately. Our team of creative copywriters generate SEO based content writing have got the best
                    of ideas to make exciting marketing copies that connects immediately to your customers and converts
                    them from mere viewers to customers. With years of industry experience behind our back, we aim to
                    produce short, sweet, and concise but meaningful copies that only enhances the value of your brand
                    to the next level. From print to digital media copies, we cover all bases and provide you with the
                    best of results.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg8.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5" style="background-color: #eeeeee;">
        <div class="row d-flex justify-content-evenly  p-3 container ">
            <div class="col-lg-5 col-md-6 d-flex justify-content-center align-items-center mt-4 d-none d-lg-block ">
                <img class="img-fluid" src="https://businesslogodesign.us/assets/images/serviceimg9.webp">
            </div>
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">Digital Marketing</h1>
                <h6 style="color: #694ea8;">Combining data analytics with top-notch strategies that upscales the
                    business</h6>
                <p class="text-secondary ">Conventional marketing strategies are outdated now. If you’re using one,
                    we’re pretty sure that you won’t be getting the reach you once were able to achieve. What this
                    means? You need to go back to the drawing board and get working on the marketing campaign from the
                    scratch. Our digital marketing team helps you kickstart your campaign and solidify your legacy into
                    the marketing world which enhances your brand association and helps customers recall the brand. Our
                    team of specialized marketers are expert in designing a customized marketing campaign for you
                    including social media, design and content. Our over the top strategies help in upscaling your
                    business to new heights.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4 d-lg-none">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg9.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5">
        <div class="row d-flex justify-content-evenly p-3 container ">
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">SEO</h1>
                <h6 style="color: #694ea8;">Full-fledged search engine optimization services cementing your online
                    presence</h6>
                <p class="text-secondary ">If you have a highly engaging and quality website, it is of no use if the
                    customers cannot easily find you on the internet. That is why, SEO is an important tool to make you
                    relevant in the online industry. Our team of SEO experts have full command over your project and
                    make every step possible in making you appear in relevant user search queries on search engines so
                    you stay listed above your competition all the times. Be placed among the top SERPs and let us help
                    you improve your ranking organically with both on-site and off-site strategies.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg10.webp">
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center py-5" style="background-color: #eeeeee;">
        <div class="row d-flex justify-content-evenly  p-3 container ">
            <div class="col-lg-5 col-md-6 d-flex justify-content-center align-items-center mt-4 d-none d-lg-block ">
                <img class="img-fluid" src="https://businesslogodesign.us/assets/images/serviceimg3.webp">
            </div>
            <div class="col-lg-7 text-lg-start  text-center ">
                <h1 class="display-5 fw-bolder ">Marketing Collateral</h1>
                <h6 style="color: #694ea8;">With your online existence, build a strong foundation off-site</h6>
                <p class="text-secondary ">Without tangibility, people are less likely to trust your brand. Thus, having
                    excellent marketing collateral might be the missing link in your brand existence. Whether you are
                    stepping foot in a cut-throat competition, or are already in a stiff competition, what better can
                    you do to stand out among the crowd? A marketing collateral can help you to create your brand
                    awareness locally through brochures, videos, posters, newsletter and graphics. You can create a
                    positive image on your customer’s mind immediately if the collaterals are on-point. Discuss with our
                    expert team today to receive free consultation.</p>

                <div class="d-flex align-items-center gap-4 justify-content-lg-start justify-content-center ">
                    <button [routerLink]="'/packages'" class="btn btn-outline-light text-black border-primary  border-1 rounded-1">View
                        Pricing</button>
                    <button class="btn btn-danger rounded-1">Our Work</button>
                </div>

            </div>
            <div class="col-lg-5 col-md-9 d-flex justify-content-center align-items-center mt-4 d-lg-none">
                <img class="img-fluid " src="https://businesslogodesign.us/assets/images/serviceimg3.webp">
            </div>
        </div>
    </div>

    <div>
        <app-counter></app-counter>
    </div>
</section>